p {
  font-size: 1.125rem; 
  font-family: PublicoText,Georgia,TimesNewRoman,Times New Roman,Times,Baskerville,serif;
}
h2 {
  font-family: PublicoText,Georgia,TimesNewRoman,Times New Roman,Times,Baskerville,serif;
  color: darkgreen;
}